#logo{
	}

	body{
		background-color: #d9deda;
	}


	#total-orders{
		background-color: #85ccca;
	}


	#orders-delivered{
		background-color: #98b4e3;
	}

	#orders-pending{
		background-color: #c6abf7;
	}